
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

#content {
    max-width : 1600px;
    margin: 0 auto;
}



nav a {
    font-family:  Canada, Helvetica, sans-serif;
    text-align: center;
}
#hero-msg h1 {
    text-align: center; 
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center; 
}



#background {
    height: 725px;
}



body {
    font-size : 22px;
    font-family : Radio Canada, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
header {
    font-family : Radio Canada, Helvetica, sans-serif;
    background-color: #0B3954;
}
nav a:hover {
    background-color: white;
}
#background {
    background-color: #087E8B;
}
.msg {
    padding: 35px;
    font-size: 1.5em;
    background-color: #0B3954;
}
footer {
    margin-top: 200px;
    background-color: #0B3954;
}



nav a {
    padding: 35px;
    color : white;
    text-decoration: none;
}
nav a:hover {
    color : black;
}
.home-title {
    margin-top: 10px;
    font-family : Permanent Marker;
    font-size: 2em;
    color : #0B3954;
}
h4 {
    color : #0B3954;
}
h2 {
    margin : 0;
    color : #0B3954;
}
.book:hover, .join:hover {
    box-sizing: border-box;
    background-color: white;
    color : black;
}
.book:hover {
    border : solid 2px #C81D25;
}
.book, .join {
    border-radius : 5px;
    background-color: #C81D25;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    color : white;
    text-decoration: none;
}
.msg h2 {
    font-family : Permanent Marker;
    color : white;
}
.msg p {
    padding-bottom: 15px;
    color : white;
}
footer {
    padding: 25px 50px;
    color : #087E8B;
}
footer a {
    color : #087E8B;
    text-decoration: none;
}
footer a:hover {
    color : #087E8B;
}



.logo {
    border-radius: 100%;
    width : 80px;
}
.icon {
    padding-top: 10px;
    width: 80px;
}
#hero-img {
    width : 100%;
}



footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}




#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding: 25px 50px;
}




.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}




.card-img {
    border : 10px solid #0B3954;
}
main section img {
    box-sizing : border-box;
}